@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ================== SLIDE =================== */

#ubea-hero {
  min-height: 400px;
  /* background: #fff url(../public/arquivos-layout/images/loader.gif) no-repeat center center; */
}
#ubea-hero .btn {
  font-size: 24px;
}
#ubea-hero .btn.btn-primary {
  padding: 14px 30px !important; /* 14px 30px */
}
#ubea-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#ubea-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#ubea-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  position: relative;
}
#ubea-hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
#ubea-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#ubea-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#ubea-hero .flexslider .flex-control-nav li a:hover {
  background: rgba(252, 71, 71, 0.5);
}
#ubea-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(252, 71, 71, 0.95);
}
#ubea-hero .flexslider .flex-direction-nav {
  display: block;
}
#ubea-hero .flexslider .flex-direction-nav a {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
#ubea-hero .flexslider .flex-direction-nav a:before {
  left: 0;
  top: 0;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 40px;
  position: relative;
  z-index: 10;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-prev { /* ICONE DE PREVIOUS */
  opacity: 1 !important;
  left: 40px !important;
  top: 55%;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-prev:before {

  text-indent: 0px !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  border: 2px solid #fff;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e929";
}
#ubea-hero .flexslider .flex-direction-nav a.flex-next {
  right: 40px !important;
  opacity: 1 !important;
  top: 54%;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-next:before { /* ICONE DE NEXT */

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  border: 2px solid #fff;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  right: 0;
  content: "\e92a";
}
#ubea-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 400px; /* 700px alterado */
}
#ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-family: Nunito, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
  padding-bottom: 2%;
}
@media screen and (max-width: 768px) {
  #ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#ubea-hero .flexslider .slider-text > .slider-text-inner .ubea-lead {
  font-size: 20px;
  color: #fff;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner .ubea-lead .icon-heart {
  color: #d9534f;
}

.ubea-section-overflow {
  overflow: hidden;
  position: relative;
}

#ubea-services .feature-left .icon i {
  color: #cccccc !important;
}
#ubea-services .feature-left h3 {
  color: #FF5126;
  font-size: 22px;
}


/* .slide1{
  background: url("../public/arquivos-layout/images/cumprimento.jpg")
}

.slide2{
  background: url(../public/arquivos-layout/images/meetup.png)
}

.slide3{
  background: url("../public/arquivos-layout/images/cursos.jpg");
}

.slide4{
  background: url(../public/arquivos-layout/images/ceu-estrelado.jpg);
} */

/* ============ FRASE ============ */

.conteudo-frase{
  width: 100%;
  padding: 7% 0 0 20%;
  position: absolute;
  
}  
.conteudo-frase p{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 1.6px;
  text-align: left;
  color: #4d4d4d;
  
  width: 75%;

  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.container-frase-home{
  height: 300px;
  background-color: #f2f2f2;
  margin-bottom: 108px; 
}

/* ========== CARDS - HOME ========= */

/*  
    =========================
    SESSAO SERVIÇOS - HOME 
    =========================
*/
.titulo-seguimentos{
    width: 100%;
    max-width: 100%;
    margin: 0 0 110px;
}
.titulo-seguimentos p{
    font-family: Nunito, sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 2px;
    color: #4d4d4d;
    padding: 0 0 79px 75px;
}

.card1{
    background-color: #f4863b;
    width: 470px;
    height: 380px;
    opacity: 0.95;
    border-radius: 5px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
.card2{
    width: 470px;
    height: 380px;
    opacity: 0.95;
    border-radius: 5px;
    background-color: #5497d3;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
.card3{
    width: 470px;
    height: 380px;
    opacity: 0.95;
    border-radius: 5px;
    background-color: #fc4747;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
.card4{
    width: 470px;
    height: 380px;
    opacity: 0.95;
    border-radius: 5px;
    background-color: #8559a5;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

.container-cards1{
    display: flex;
    justify-content: center;
}
.container-cards2{
    display: flex;
    justify-content: center;
}
.container-cards1 > div{
    background-color: transparent;
    margin: 15px;
}
.container-cards2 > div{
    background-color: transparent;
    margin: 15px;
}
.container-cards1 a{
    text-decoration: none;
}
.container-cards2 a{
    text-decoration: none;
}

#sessao-cards-home{
    margin: 0 0 110px;
}

.container-cards1 ul li{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
    list-style: none;
    position: relative;
}
.container-cards2 ul li{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;  
    list-style: none;
    position: relative;
}
.titulo1 p{
    position: relative;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    padding: 30px 0 0 43px;
}
.titulo1 p::before{
    content: '';
    position: relative;
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background: #db6b1f;
    bottom: -45px;
}
.titulo2 p{
    position: relative;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    padding: 30px 0 0 43px;
}
.titulo2 p::before{
    content: '';
    position: relative;
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background: #387dba;
    bottom: -45px;
}
.titulo3 p{
    position: relative;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    padding: 30px 0 0 43px;
}
.titulo3 p::before{
    content: '';
    position: relative;
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 2px;
    background: #e32929;
    bottom: -45px;
}
.titulo4 p{
    position: relative;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    padding: 30px 0 0 43px;
}
.titulo4 p::before{
    content: '';
    position: relative;
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 2px;
    background: #6b3e8c;
    bottom: -45px;
}
.titulo1 a{
    text-decoration: none;
    color: #fff;
}
.titulo2 a{
    text-decoration: none;
    color: #fff;
}
.titulo3 a{
    text-decoration: none;
    color: #fff;
}
.titulo4 a{
    text-decoration: none;
    color: #fff;
}
.card1{
    background-image: url(../public/arquivos-layout/images/banner-consultoria.jpg);
    background-size: cover;
    padding: 0 0 0 0;
    position: relative;

    transition: transform .2s;
}
.card1:hover{
    transform: scale(1.03);
}

.card1::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(244, 134, 59, 0.95);
    border-radius: 5px;
}
.card2{
    background-image: url(../public/arquivos-layout/images/meetup.png);
    background-size: cover;
    padding: 0 0 0 0;
    position: relative;

    transition: transform .2s;
}

.card2:hover{
    transform: scale(1.03); 
}

.card2::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(84, 151, 211, 0.95);
    border-radius: 5px;
}
.card3{  
    background-image: url(../public/arquivos-layout/images/cumprimento.jpg);
    background-size: cover;
    padding: 0 0 0 0;
    position: relative;

    transition: transform .2s;
}

.card3:hover{
    transform: scale(1.03); 
}

.card3::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(252, 71, 71, 0.95);
    border-radius: 5px;
}
.card4{
    background-image: url(../public/arquivos-layout/images/cursos.jpg);
    background-size: cover;
    padding: 0 0 0 0;
    position: relative;

    transition: transform .2s;
}

.card4:hover{
    transform: scale(1.03);  
}

.card4::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(133, 89, 165, 0.95);
    border-radius: 5px;
}
  
/* SIMBOLOS SVG - CARDS HOME
--------------------------------*/
.card1 img{              
    width: 50px;
    height: 48px;
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    margin: 0 25px 25px;
}
.card2 img{
    width: 50px; 
    height: 48px;
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    margin: 0 25px 25px;
}
.card3 img{
    width: 50px; 
    height: 48px;
    position: absolute;
    float: right; 
    bottom: 0;
    right: 0;
    margin: 0 25px 25px;
}
.card4 img{
    width: 50px; 
    height: 48px;
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    margin: 0 25px 25px;
}


/*  
    =========================
    BOTAO SESSAO SERVIÇOS - HOME 
    =========================
*/
.div-btn-servicos{
    display: flex;
    justify-content: center;
}
  
.btn-servicos:hover{
    background-color: rgb(252, 71, 71);
    transition: 0.5s;
}
  
 .btn-servicos{
    width: 335px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(244, 134, 59, 0.88);
    color: #fff;
    text-align: center;
    float: left;
    
    position: relative;
    /* flex para alinhar texto do botao */
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: Nunito, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;  
}
.div-btn-servicos a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}